body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: black;
  animation: bgChange 20s infinite;
  animation-direction: alternate;
  -webkit-animation: bgChange 20s infinite; ​
  -webkit-animation-delay: 0s;
}

#ground {
  position: fixed;
  top: 55%;
  width: 100%;
  height: 45%;
  background: green; /* For browsers that do not support gradients */
  background: -moz-linear-gradient(green, rgb(0, 64, 15)); /* For Firefox 3.6 to 15 */
  background: -webkit-linear-gradient(green, rgb(0, 64, 15)); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(green, rgb(0, 64, 15)); /* Standard syntax */
  z-index: 4;
}

span {
  display: none;
}

#ground:hover span {
  display: block;
}

h1 {
  margin: 0;
  padding-top: 190px;
  padding-right: 30px;
  text-align: center;
  color: lightgray;
  text-shadow: 2px 2px black;
  font-family: sans-serif;
}

h1:hover{

}

@keyframes bgChange {
  0% { background:black; }
  50% { background:skyblue; }
  100% { background:black; }
}

@-webkit-keyframes bgChange {
  0% {background:black;}
  25% {background:skyblue;}
  50% {background:deepskyblue;}
  75% {background:skyblue;}
  100% {background:black;}
}
​
#container {
  width:100%;
}

#sun {
  left: -50%;
  width: 150px;
  height: 150px;
  position: absolute;
  animation: sunRising 20s infinite;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-animation: sunRising 20s infinite;
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
}

@keyframes sunRising {
  0%   { top: 70%; left: -10%; }
  49%  { top: 15%; left: 43%; }
  99% { top: 70%; left: 90%; }
  100% { top: 70%; left: -10%; }
}

@-webkit-keyframes sunRising /* Safari and Chrome */ {
  0%   { top: 70%; left: -10%; }
  49%  { top: 15%; left: 43%; }
  99% { top: 70%; left: 90%; }
  100% { top: 70%; left: -10%; }
}

#moon {
  left: -50%;
  width: 150px;
  height: 150px;
  position: absolute;
  animation: moonRising 20s infinite;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-animation: moonRising 20s infinite;
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, white 0%, darkgray 100%, gray 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, white, darkgray);
	background-image: radial-gradient(45px 45px 45deg, circle cover, white 0%, darkgray 100%, gray 95%);
  -webkit-animation-delay: 10s; /* Safari 4.0 - 8.0 */
  animation-delay: 10s;
}

@keyframes moonRising {
  0%   { top: 70%; left: -10%; }
  49%  { top: 15%; left: 43%; }
  99% { top: 70%; left: 90%; }
  100% { top: 70%; left: -10%; }
}

@-webkit-keyframes moonRising /* Safari and Chrome */ {
  0%   { top: 70%; left: -10%; }
  49%  { top: 15%; left: 43%; }
  99% { top: 70%; left: 90%; }
  100% { top: 70%; left: -10%; }
}

/* STARS */
.stars {
  display: inline;
  top: 30px;
  left: 50px;
	width: 2px;
	height: 2px;
  border-radius: 50%;
	position: absolute;
  background-color: white;
  opacity: 0;
  z-index: 3;
}

#star-1 {
  top: 13%;
  left: 32%;
}
#star-2 {
  top: 11%;
  left: 63%;
}
#star-4 {
  top: 45%;
  left: 59%;
}
#star-5 {
  top: 12%;
  left: 76%;
}
#star-6 {
  top: 20%;
  left: 81%;
}
#star-8 {
  top: 37%;
  left: 5%;
}
#star-10 {
  top: 2%;
  left: 71%;
}
#star-16 {
  top: 6%;
  left: 43%;
}
#star-17 {
  top: 2%;
  left: 85%;
}
#star-18 {
  top: 40%;
  left: 30%;
}
#star-20 {
  top: 26%;
  left: 28%;
}
#star-22 {
  top: 18%;
  left: 96%;
}
#star-23 {
  top: 9%;
  left: 7%;
}
#star-25 {
  top: 17%;
  left: 13%;
}
#star-26 {
  top: 3%;
  left: 75%;
}
#star-28 {
  top: 29%;
  left: 35%;
}
#star-30 {
  top: 20%;
  left: 85%;
}
#star-31 {
  top: 19%;
  left: 42%;
}
#star-33 {
  top: 11%;
  left: 71%;
}
#star-35 {
  top: 7%;
  left: 42%;
}
#star-36 {
  top: 28%;
  left: 6%;
}
#star-37 {
  top: 34%;
  left: 54%;
}
#star-38 {
  top: 38%;
  left: 65%;
}
#star-39 {
  top: 45%;
  left: 48%;
}
#star-42 {
  top: 15%;
  left: 5%;
}
#star-44 {
  top: 20%;
  left: 85%;
}

@-webkit-keyframes flickerAnimation1 {
  0% {opacity: 0;}
  7.5% {opacity: 1;}
  15% {opacity: 0;}
  22.5% {opacity:1;}
  /* Finish changes by here */
  40% {opacity:0;}
  /* Between 30% and 100%, nothing changes */
  100% {opacity:0;}
}
@-webkit-keyframes flickerAnimation2 {
  0% {opacity: 0;}
  7.5% {opacity: 1;}
  15% {opacity: 0.2;}
  22.5% {opacity:1;}
  /* Finish changes by here */
  40% {opacity:0;}
  /* Between 30% and 100%, nothing changes */
  100% {opacity:0;}
}
@-webkit-keyframes flickerAnimation3 {
  0% {opacity: 0;}
  7.5% {opacity: 1;}
  15% {opacity: 0.3;}
  22.5% {opacity:1;}
  /* Finish changes by here */
  40% {opacity:0;}
  /* Between 30% and 100%, nothing changes */
  100% {opacity:0;}
}
@-webkit-keyframes flickerAnimation4 {
  0% {opacity: 0;}
  7.5% {opacity: 1;}
  15% {opacity: 0.4;}
  22.5% {opacity:1;}
  /* Finish changes by here */
  40% {opacity:0;}
  /* Between 30% and 100%, nothing changes */
  100% {opacity:0;}
}
@-webkit-keyframes flickerAnimation5 {
  0% {opacity: 0;}
  7.5% {opacity: 1;}
  15% {opacity: 0.5;}
  22.5% {opacity:1;}
  /* Finish changes by here */
  40% {opacity:0;}
  /* Between 30% and 100%, nothing changes */
  100% {opacity:0;}
}
@-webkit-keyframes flickerAnimation6 {
  0% {opacity: 0;}
  7.5% {opacity: 1;}
  15% {opacity: 0.6;}
  22.5% {opacity:1;}
  /* Finish changes by here */
  40% {opacity:0;}
  /* Between 30% and 100%, nothing changes */
  100% {opacity:0;}
}



.timing-1 {
   -webkit-animation: flickerAnimation1 20s infinite;
    animation-delay: 15s;
}
.timing-2 {
   -webkit-animation: flickerAnimation2 20s infinite;
    animation-delay: 15s;
}
.timing-5 {
   -webkit-animation: flickerAnimation3 20s infinite;
    animation-delay: 15s;
}
.timing-4 {
   -webkit-animation: flickerAnimation4 20s infinite;
    animation-delay: 15s;
}
.timing-5 {
   -webkit-animation: flickerAnimation5 20s infinite;
    animation-delay: 15s;
}
.timing-6 {
   -webkit-animation: flickerAnimation6 20s infinite;
    animation-delay: 15s;
}
